.flex-box{
    display: flex;
    align-items: center;
    gap: 0.5em;
    margin: 1em 0;
}

.icon-button{
    align-items: center;
    display: inline-flex;
    background-color: transparent;
    border: none;
    padding: 0;
}

.icon-button:hover{
    background-color: transparent;
    color: #535bf2;
}

.icon-button:focus{
    outline: none;
}

.icon-button:focus-visible{  /* when using tab to select*/
    outline: 4px auto -webkit-focus-ring-color;
}

.subtitle{
    margin: 2em 0;
}
.section{
    border: 1px solid white;
    border-radius: 8px;
    padding: 0.6em 1.2em;
    margin: 1em 5%;

}
.subtitle-flex-box{
    align-items: center;
    display: flex;
    justify-content: space-between
}
svg {
   vertical-align: bottom;
}
