.flex-box{
    display: flex;
    align-items: center;
    gap: 0.5em;
    margin: 1em 0;
}

.icon-button{
    align-items: center;
    display: inline-flex;
    background-color: transparent;
    border: none;
    padding: 0;
}

.icon-button:hover{
    background-color: transparent;
    color: #535bf2;
}

.icon-button:focus{
    outline: none;
}

.icon-button:focus-visible{  /* when using tab to select*/
    outline: 4px auto -webkit-focus-ring-color;
}

.subtitle{
    margin: 2em 0;
}
.section{
    border: 1px solid white;
    border-radius: 8px;
    padding: 0.6em 1.2em;
    /* margin: 1em 5%;*/

}
.subtitle-flex-box{
    align-items: center;
    display: flex;
    justify-content: space-between
}

.capsule{
    display: flex;
    border: 1px solid;
    border-radius: 9999px;
    min-width: 3em;
    justify-content: center;
    padding: 0 1em;
}
.capsule-active{
    background-color: #535bf2;
}

.capsule-inactive{
    background-color: transparent;
}
.select-control{                
    border: 0;
    background-color: transparent;
    gap: 1em;
}

.select-option{
    background-color: #6B6B6B;
    padding: 1em;
}

.select-option:hover{
    background-color: #535bf2;
}
svg {
   vertical-align: bottom;
}
