
.arrow{
    display: flex;
    align-items: center;
    height: 5%;
}

.content{
    display: flex;
    justify-content: center; 
    gap: 2em;
    width: 90%;
    padding: 1em; 
}

.layer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
